<body>
    <div class = "head1">
        <h1>New Inventory</h1>
        <div class = "image1" >
            <img src= "http://dx.deucex.com/i/logo.png" >
        </div>
    </div>
    
</body> 


<%= render 'form' %>

