<body>
    <div class = "head1">
        <h1>Welcome</h1>
        
        <div class = "image1" >
            <img src= "http://dx.deucex.com/i/logo.png" >
        </div>
    </div>
    
</body>

<table>
    <tr>
        <%= button_to "Vendor List", vendors_path, :method => "get" %>
        <%= button_to "Inventory", inventories_path, :method => "get" %>
    </tr>
</table>

