<body>
    <div class = "head">
        <h1>New Vendor</h1>
        
       <div class = "image1" >
            <img src= "http://dx.deucex.com/i/logo.png" >
        </div>
    </div>
    
</body> 
<%= render 'form' %>

